<div>
<form action="/campgrounds/<%=campgroundId%>/comments" method="POST">
<input type="text" class="form-control" name="comment[author]" placeholder="Enter your name">
        <input type="text" class="form-control newCampFormInput" name="comment[text]" placeholder="Enter your comment">
        <input type="submit" class="btn btn-dark btn-block newCampFormInput">
    </form>
</div>
